[submodule "external/glm"]
	path = external/glm
	url = git@github.com:g-truc/glm.git
[submodule "external/sdlpp"]
	path = external/sdlpp
	url = git@gitlab.com:aidanhall/sdlpp.git
[submodule "external/tecs"]
	path = external/tecs
	url = git@gitlab.com:aidanhall/tecs.git
